<div class="grid-item grid-item--exemplar">
<a href="javascript:;" class="launch-player exemplar-thumbnail" data-toggle="modal" data-target="#exemplarVideoModal" data-id='{{ .Get "youtube_id" }}' data-vperson='{{ .Get "exemplar_name" }}'><img src='/img/assets/exemplar_{{ .Get "exemplar_thumbnail" }}.jpg' /></a>
<p class="e_name"><a href="javascript:;" class="launch-player" data-toggle="modal" data-target="#exemplarVideoModal" data-id='{{ .Get "youtube_id" }}' data-vperson='{{ .Get "exemplar_name" }}'>{{ .Get "exemplar_name" }}</a></p>
<p class="e_institution">{{ .Get "exemplar_institution" }}</p>
<p class="e_reason"> I teach dentistry because {{ .Get "exemplar_reason" }}</p>
</div>