{{ partial "header.html" . }}

{{ .Content }}
{{ $currentNode := . }}
{{ $currentNode }}

<div class="clearfix"></div>
{{ if eq .Type "module-page" }}
<nav class="hidden-print">
  <ul class="pager pager-nav">
    {{ if .Params.previous }}
    <li class="previous"><a href="../{{ .Params.previous | urlize | lower }}/"><span class="sr-only">Go to </span><span aria-hidden="true">&larr;</span> {{ .Params.previous }}<span class="sr-only"> page</span></a></li>
    {{ end }}
    {{ if .Params.next }}
    <li class="next"><a href="../{{ .Params.next | urlize | lower }}/"><span class="sr-only">Go to </span>{{ if .Params.islast }}{{ .Params.next_module }}{{ else }}{{ .Params.next }}{{ end }} <span class="sr-only">page</span><span aria-hidden="true">&rarr;</span></a></li>
    {{ end }}
  </ul>
</nav>
{{ end }}

{{ partial "footer.html" . }}