@import url(https://fonts.googleapis.com/css?family=Montserrat:400);
body {
    background: #f9f9f9 url('/img/grain.png') repeat;
}

/* Primary elements ------------------------------------------------------- */

h2 {
    padding: 10px 0 10px 0;
    margin: 0;
    font-size: 20px;
    font-weight: normal;
    color: #000;
}

.homepage h2 {
    padding: 20px 0 0 0;
    margin: 0;
    font-size: 20px;
    font-weight: normal;
    color: #666;
}

.homepage p {
    font-size: 14px;
}

.pagetitle {
    padding: 10px 0 50px 0;
    margin: 0;
    font-size: 24px;
    font-weight: normal;
}

.homepage .pagetitle {
    padding: 15px 0;
}

.question_intro_header {
    margin: 0 0 0 0;
    padding: 0 0 10px 0;
    font-size: 30px;
    color: #06c;
    font-weight: normal;
    line-height: 100%;
}

.info h4 {
    font-size: 15px;
    font-weight: bold;
    margin-top: 40px;
}

.info h5 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
    color: #999999;
    text-transform: uppercase;
}

h5 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
}

figcaption h4 {
    font-weight: normal;
    font-size: 12px;
    font-style: italic;
    color: #333;
    margin: 0;
    padding: 10px 5px 5px 5px;
}

/* Table styles */
table
{
    margin: 0 0 1em 0;
    padding: 0;
    border: 1px solid #999;
    border-collapse: collapse;
    min-width: 600px;    
}

table.noborders,
table.noborders td

{
    border: none;
    padding: 10px;
    vertical-align: top;
}

table caption {
    color: #000;
    font-weight: bold;
    font-size: 16px;
}

table tbody
{
    border: 0;
}

th
{
    border: 1px solid #999;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
    background-color: #d5eff0;
}

th.table-header {
    background-color: #a5d3d5;
}

th.l2 {
    background-color: #efefef;
    font-weight: normal;
}

td
{
    border: 1px solid #999;
    border-collapse: collapse;
    padding: 5px;
}

/* Header + Banner -------------------------------------------------------- */

#skippy
{
	display: block;
	padding: 1em;
	color: #000;
	background-color: #94d8da;
	outline: 0;
}

#skippy .skiplink-text
{
	padding: .5em;
	outline: 1px dotted;
	background-color: #fff;
	font-weight: bold;
}

header {
    position: relative;
}

header.container {
    padding: 0;
}

.outer-container {
    position: relative;
    box-shadow: 0px 0px 4px #888888;
    padding: 0;
    background-color: #fff;
}

#project-logo-header {
    float: none;
    height: 40px;
    margin: 0;
    background-color: transparent;
}

#primary-logo {
    padding: 0 0 0 5px;
    margin: 0;
    height: 40px;
    float: left;
    display: inline-block;
}


/*--------------------------------------------------
    Home page slide show and login
  --------------------------------------------------*/

#invitation {
    position: relative;
    overflow: hidden;
    display: block;
    height: 120px;
    width: auto;
    margin: 5px;
    padding: 0;
    border: 1px solid #efefef;
}

#TDCarousel {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0px;
    z-index: 0;
}

#invitation #phrase2 {
    position: absolute;
    left: 10px;
    bottom: 5px;/*15px; */
    width: auto;
    font: normal 18px/120% "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    text-shadow: 2px 2px 10px #000000;
    margin: 0px;
    padding: 0px;
    z-index: 100;
}

#invitation .well {margin: 0; padding: 0;}

.gradient-overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 50;
    height: 200px;
    background: url('/img/bg_gradient_overlay.png') 0 0 repeat-x;
    width: 100%;
}

#primary-logo img {
    height: 100%;
}

#page-banner {
    padding: 0;
    margin: 0;
    background: #ccc url('/img/banner-front.jpg') 0 0 no-repeat;
    height: 132px;
    background-size: 772px;
}

.doc-container {
    padding: 0 10px 20px 10px;
}

.module-page #page-banner,
.info #page-banner {
    padding: 0;
    margin: 0;
    background-color: #fff;
    background-image: none;
    height: 35px;
}

.module-name {
    margin: 0;
    padding: 0;
    height: 35px;
}

.module-name h1 {
    margin: 0;
    padding: 0 10px;
    font-size: 16px;
    line-height: 35px;
    display: inline-block;
    background-color: #99cc99;
    min-width: 195px;
}

.module_list li {
    margin-bottom: 10px;
}

/* Sidebar navigation ----------------------------------------------------- */

.module-page .sidenav {
    z-index: 2000;
    /* height: 35px; */
    position: absolute;
    top: 0;
    height: auto;
    margin-top: 0;
    padding: 0;
    z-index: 2000;
}

.sidenav .module-name {
    white-space: nowrap;
    margin-top: -35px;
    background-color: #99cc99;
    min-width: 195px;
}

.sidenav .module-name h1 {
    white-space: nowrap;
    padding: 0 10px 0 0;
    min-width: 157px;
}

.sidenav .module-name a h1 {
    color: #333;
    text-decoration: none;
}

#toggle-sidenav {
    cursor: pointer;
}

#section-list {
    display: none;
    box-shadow: 2px 2px 4px 0px #aaa;
}

.sidenav .nav {
    background-color: #b6d8db;
    width: 195px;
    padding-bottom: 20px;
}

.sidenav .nav a {
    color: #099;
}

.sidenav .nav a:visited {
    color: #066;
}

.sidenav .nav a:hover
{
    background-color: #a1d4d8;
}

.sidenav .nav a:focus
{
    background-color: #d4f2f4;
}

.sidenav .nav .active,
.sidenav .nav .active a:hover
{
    background-color: #3fb0b4;
}

.sidenav .nav .active a {
    color: #fff;
    pointer-events: none;
    cursor: text;
}

.sidenav .nav .active a::after { 
    content: "\00bb";
}

.sidenav .nav>li>a {
    padding: 6px 15px;
}

.sidenav .toggle-button {
    display: block;
    margin-top: 3px;
    padding: 2px 6px;
    background-color: transparent;
    border-radius: 5px;
    float: left;
}

.sidenav .nav>li>a.indent-4 {
    padding-left: 30px;
}

.sidenav .nav>li>a.indent-5 {
    padding-left: 40px;
}

#sidenav-icon {
  width: 26px;
  height: 24px;
  position: relative;
  margin: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#sidenav-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #066;
  border-radius: 2px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#sidenav-icon span:nth-child(2) {
  top: 3px;
}

#sidenav-icon span:nth-child(3),#sidenav-icon span:nth-child(4) {
  top: 11px;
}

#sidenav-icon span:nth-child(5) {
  top: 19px;
}

#sidenav-icon.open span:nth-child(2) {
  top: 7px;
  width: 0%;
  left: 50%;
}

#sidenav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#sidenav-icon.open span:nth-child(4) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#sidenav-icon.open span:nth-child(5) {
  top: 19px;
  width: 0%;
  left: 50%;
}



/* Footer------------------------------------------------------------------ */

.footer-moreinfo,
.footer-logos {
    list-style: none;
    margin: 0 -15px 20px -15px;
    padding: 0;
    text-align: center;
}

.footer-moreinfo li,
.footer-logos li {
    display: inline-block;
    padding: 10px;
}

.footer-moreinfo {
    background-color: transparent;
}

.footer-logos {
    margin-bottom: 50px;
}

.footer-logos li {
    padding: 10px;
}

.footer-logos img {
    height: 25px;
}

/* Page body -------------------------------------------------------------- */

#maincontent:focus {
    outline: 0;
}

#page-title {
    margin-top: 0;
    padding-top: 20px;
}

.pageblock {
    padding: 0 0 1em 0;
    display: block;
}

.pageblock img {
    max-width: 100%;
}

.content {
    background-color: #fff;
    min-height: 550px;
}

#winSize {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    background-color: #ccc;
}

#winSize p {
    margin: 0;
    padding: 0;
    font: normal 12px/130% Courier, Serif !important;
}

.grid-item {
  float: left;
  width: 250px;
  height: 520px;
  border: 1px solid #ccc;
}

.grid-item--exemplar {
    padding: 10px;
    margin: 10px 20px 10px 0;
}

.grid-item--exemplar img {
    display: block;
    width: 100%;
}

.e_name {
    font-weight: bold;
    padding: 5px 0 0 0;
    margin: 0;
}

.e_institution {
    padding: 5px 0 0 0;
    margin: 0;
    font-style: italic;
    line-height: 130%;
}

.e_reason {
    padding: 5px 0 0 0;
    margin: 0;
}

/*Previous-Next page navigation ------------------------------------------- */

.pager-nav {
    margin: 50px 0;
    padding: 0;
	padding-bottom: 0 !important;
	border: 0;
	font-size: 16px;
}

.pager-nav li>a {
    border: 1px solid transparent;
    font-weight: normal;
  padding: 6px 24px;
  background-color: #99ccff;
  border: 0;
  text-transform: capitalize;
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
}

.pager-nav li>a:hover {
  text-decoration: none;
  background-color: #e0e0e0;
  color: #666666  !important;
}

/* Alignment (custom) ----------------------------------------------------- */

.left {
    float: left;
    margin: 0 10px 10px 0;
}

.right {
    float: right;
    margin: 0 0 10px 10px;
}

.center {
    text-align: center;
    margin: 10px;
}

.nowrap {
    white-space: nowrap;
}

.visualclear {
    clear: both;
}

/* Image (custom) --------------------------------------------------------- */

.img-rounded {
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Interactives embed ----------------------------------------------------- */

.iframe-embed {
    border: 0;
    padding: 0;
}

.all iframe  {
    width: 100%;
}

.sm iframe  {
    width: 700px;
}

.md iframe  {
    width: 920px;
}

.lg iframe  {
    width: 925px;
}

.video-player iframe {
    border: 1px solid #ddd;
    width: 100%;
    max-width: 478px;
    max-height: 270px;
}

.homepage .video-player {
    width: 478px;
    height: 270px;
    margin: 0 0 10px 10px;
}


/* Section headers -------------------------------------------------------- */

.section-thumbnail {
    margin-top: 20px;
    height: 40px;
}

.section-thumbnail .section-slug {
    margin: 0 10px 0 0;
    width: 40px;
    height: 40px;
    float: left;
}

.section-thumbnail h3
{
	font-weight: normal;
	font-size: 20px;
	float: left;
	padding: 0;
	margin: 0;
	line-height: 40px;
	text-transform: uppercase;
}

/*--------------------------------------------------
    Section Navigation (Default)
  --------------------------------------------------*/

#primarynav {
    width: 100%;
    margin: -7px auto 0 auto;
    padding: 6px 0 0 0;
    border: 0;
    z-index: 100;
}

#primarynav-inner {
    height: auto;
    display: none;
    margin: 0 auto;
    padding: 0;
    border: 0;
    background-color: #bed4e9;
    box-shadow: 1px 1px 3px #999;
}

.section-nav-tab {
    width: 140px;
    height: 40px;
    margin: 0;
    padding: 0;
    border: 0;
    cursor: pointer;
    -webkit-border-bottom-right-radius: 6px;
       -moz-border-bottom-right-radius: 6px;
            border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
       -moz-border-bottom-left-radius: 6px;
            border-bottom-left-radius: 6px;
    background-color: #6699cc;
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, left top, right top, from(#99ccff), to(#6699cc));
    
    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(left, #6699cc, #99ccff);
    
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(left, #6699cc, #99ccff);
    
    /* IE 10 */
    background: -ms-linear-gradient(left, #6699cc, #99ccff);
    
    /* Opera 11.10+ */
    background: -o-linear-gradient(left, #6699cc, #99ccff);
    /* display: none; temporary */
}

.section-nav-tab-inner {
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 0 0 0 8px;
    border: 0;
    background: url('/img/white-arrow.png') no-repeat 80px -45px;
    line-height: 40px;
    color: #fff;
    cursor: pointer;
}

.section-nav-tab .active {
    background-position: 80px 15px;
}

#section-items {
    margin: 0 auto;
    padding: 5px 0 0 0;
    border: 0;
    list-style: none;
}

.section-item {
    display: block;
    float: none;
    width: auto;
    height: 60px;
    margin: 0 8px;
    padding: 0;
    cursor: pointer;
}

.section-item .section-icon {
    display: block;
    margin-top: 10px;
    float: left;
    width: 44px;
    height: 44px;
    border: 1px solid #ccc;
    background-color: #000;
}

.section-item .section-icon:hover {
    box-shadow: 0px 0px 6px #000;
}

.section-item .section-title {
    float: left;
    display: block;
    margin: 2px 0 0 0;
    padding: 0 0 0 20px;
    width: 125px;
    font-size: 14px;
    line-height: 55px;
    color: #000;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
}

#section-items .active .section-icon {
    box-shadow: 0px 0px 10px #f00;
    border: 1px solid #ff9933;
}

#section-items .active .section-title {
    color: #cc3333;
    font-weight: bold;
}

.section-item .section-icon, .section-icon-home  .section-icon {
    border-color: transparent;
}

.section-thumbnail {
    margin-top: 20px;
    height: 40px;
}

.section-thumbnail .section-slug {
    margin: 0 10px 0 0;
    width: 40px;
    height: 40px;
    float: left;
}

.section-thumbnail h3 {
    font-weight: normal;
    font-size: 20px;
    float: left;
    padding: 0;
    margin: 0;
}

.thumbnail-intro {background: url('/img/section_thumbnail.png') -42px 0px no-repeat;}
.thumbnail-tracks {background: url('/img/section_thumbnail.png') -84px 0px no-repeat;}
.thumbnail-focus {background: url('/img/section_thumbnail.png') -126px 0px no-repeat;}
.thumbnail-impact {background: url('/img/section_thumbnail.png') -168px 0px no-repeat;}
.thumbnail-concerns {background: url('/img/section_thumbnail.png') -210px 0px no-repeat;}
.thumbnail-settings {background: url('/img/section_thumbnail.png') -252px 0px no-repeat;}
.thumbnail-exemplars {background: url('/img/section_thumbnail.png') -294px 0px no-repeat;}
.thumbnail-resources {background: url('/img/section_thumbnail.png') -336px 0px no-repeat;}

.section-icon-home .section-icon {background: url('/img/section_thumbnail.png') 0px 1px no-repeat;}
.section-icon-intro .section-icon {background: url('/img/section_thumbnail.png') -41px 1px no-repeat;}
.section-icon-tracks .section-icon {background: url('/img/section_thumbnail.png') -83px 1px no-repeat;}
.section-icon-focus .section-icon {background: url('/img/section_thumbnail.png') -125px 1px no-repeat;}
.section-icon-impact .section-icon {background: url('/img/section_thumbnail.png') -167px 1px no-repeat;}
.section-icon-concerns .section-icon {background: url('/img/section_thumbnail.png') -209px 1px no-repeat;}
.section-icon-settings .section-icon {background: url('/img/section_thumbnail.png') -251px 1px no-repeat;}
.section-icon-exemplars .section-icon {background: url('/img/section_thumbnail.png') -293px 1px no-repeat;}
.section-icon-resources .section-icon {background: url('/img/section_thumbnail.png') -335px 1px no-repeat;}



/* Accordion -------------------------------------------------------------- */

#accordion .panel-title a {
    display: block;
    text-decoration: none;
}

#accordion .panel-title a:before {
font-family: "Glyphicons Halflings";
content: "\e114\00a0";
margin-left: 15px;
}
/* Icon when the collapsible content is hidden */
#accordion .panel-title a.collapsed:before {
content: "\e080\00a0";
}


/* VIDEO DISPLAY */

/* default */

.video-display {
    background-color: #d8e4ee;
    margin: 5px 0;
    padding: 6px;
    -webkit-border-radius: 6px !important;
       -moz-border-radius: 6px !important;
            border-radius: 6px !important;
}

.video-display h4 {
    margin: 0;
    padding: 10px 0 10px 0;
    border: 0;
    border-bottom: 1px solid #fff;
    font: 18px;
    color: #006699;
}

.video-display p {
    margin: 0;
    padding: 10px 0 10px 0;
    border: 0;
 }

.video-display .download-transcript {
    color: inherit;
    text-decoration: none;
}

/* Printing button prompt ------------------------------------------------- */

@-webkit-keyframes flash-orange {
    0% { background-color: #fff; border-color: #ccc; }
    50% { background-color: #f0ad4e; border-color: #eea236; }
    100% { background-color: #fff; border-color: #ccc; }
}

@-moz-keyframes flash-orange {
    0% { background-color: #fff; border-color: #ccc; }
    50% { background-color: #f0ad4e; border-color: #eea236; }
    100% { background-color: #fff; border-color: #ccc; }
}

@-ms-keyframes flash-orange {
    0% { background-color: #fff; border-color: #ccc; }
    50% { background-color: #f0ad4e; border-color: #eea236; }
    100% { background-color: #fff; border-color: #ccc; }
}

.flash {
  -moz-animation: flash-orange 2s infinite;
  -webkit-animation: flash-orange 2s infinite;
  -ms-animation: flash-orange 2s infinite;
  animation: flash-orange 2s infinite;
}

@media (max-width: 415px) {
    .homepage .video-player iframe {
        width: 100%;
        height: 100%;
    }    
    .homepage .video-player {
        margin: 0;
        margin: auto;
        width: 100%;
        max-height: 315px;
    }
}

@media (max-width: 767px) {
}

@media (min-width: 768px) {
    #primarynav {
        width: 702px;
    }
    #primarynav-inner {
        height: 100px;
        display: block;
        -webkit-border-bottom-right-radius: 6px;
           -moz-border-bottom-right-radius: 6px;
                border-bottom-right-radius: 6px;
    }
    .section-nav-tab {
        width: 140px;
        height: 40px;
        margin: 0;
        padding: 0;
        border: 0;
        cursor: pointer;
        -webkit-border-bottom-right-radius: 6px;
           -moz-border-bottom-right-radius: 6px;
                border-bottom-right-radius: 6px;
        -webkit-border-bottom-left-radius: 6px;
           -moz-border-bottom-left-radius: 6px;
                border-bottom-left-radius: 6px;
        background-color: #6699cc;
        /* Safari 4-5, Chrome 1-9 */
        background: -webkit-gradient(linear, left top, right top, from(#99ccff), to(#6699cc));
        
        /* Safari 5.1, Chrome 10+ */
        background: -webkit-linear-gradient(left, #6699cc, #99ccff);
        
        /* Firefox 3.6+ */
        background: -moz-linear-gradient(left, #6699cc, #99ccff);
        
        /* IE 10 */
        background: -ms-linear-gradient(left, #6699cc, #99ccff);
        
        /* Opera 11.10+ */
        background: -o-linear-gradient(left, #6699cc, #99ccff);
        /* display: none; temporary */
    }
    .section-nav-tab-inner {
        width: 100%;
        height: 40px;
        margin: 0;
        padding: 0 0 0 8px;
        border: 0;
        background: url('/img/white-arrow.png') no-repeat 80px -45px;
        line-height: 40px;
        color: #fff;
        cursor: pointer;
    }
    .section-nav-tab .active {
        background-position: 80px 15px;
    }
    #section-items {
        padding: 10px 0 0 0;
    }
    
    .section-item {
        display: block;
        float: left;
        width: 60px;
        height: 84px;
        margin: 0 8px;
        padding: 0;
        cursor: pointer;
    }
    
    .section-item .section-icon {
        float: none;
        margin-top: 0;
        display: block;
        width: 60px;
        height: 60px;
        border: 1px solid #ccc;
        background-color: #000;
    }
    
    .section-item .section-icon:hover {
        box-shadow: 0px 0px 6px #000;
    }
    
    .section-item .section-title {
        float: none;
        display: block;
        margin: 2px 0 0 0;
        padding: 0;
        width: 62px;
        font-size: 11px;
        line-height: 20px;
        color: #000;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
    }
    
    #section-items .active .section-icon {
        box-shadow: 0px 0px 10px #f00;
        border: 1px solid #ff9933;
    }
    
    #section-items .active .section-title {
        color: #cc3333;
        font-weight: bold;
    }
    
    .section-item .section-icon, .section-icon-home  .section-icon {
        border-color: #6699cc;
    }
    
    .section-thumbnail {
        margin-top: 20px;
        height: 40px;
    }
    
    .section-thumbnail .section-slug {
        margin: 0 10px 0 0;
        width: 40px;
        height: 40px;
        float: left;
    }
    
    .section-thumbnail h3 {
        font-weight: normal;
        font-size: 20px;
        float: left;
        padding: 0;
        margin: 0;
    }
    
    .section-icon-home .section-icon { background: url('/img/section_icon_home.png') -220px -20px no-repeat; }
    .section-icon-intro .section-icon { background: url('/img/section_icon_intro.png') -220px -20px no-repeat; }
    .section-icon-tracks .section-icon { background: url('/img/section_icon_tracks.png') -220px -20px no-repeat; }
    .section-icon-focus .section-icon { background: url('/img/section_icon_focus.png') -220px -20px no-repeat; }
    .section-icon-impact .section-icon { background: url('/img/section_icon_impact.png') -220px -20px no-repeat; }
    .section-icon-concerns .section-icon { background: url('/img/section_icon_concerns.png') -220px -20px no-repeat; }
    .section-icon-settings .section-icon { background: url('/img/section_icon_settings.png') -220px -20px no-repeat; }
    .section-icon-exemplars .section-icon { background: url('/img/section_icon_exemplars.png') -220px -20px no-repeat; }
    .section-icon-resources .section-icon { background: url('/img/section_icon_resources.png') -220px -20px no-repeat; }
    .doc-container {
        padding: 0 30px 50px 30px;
    }
    .pagetitle {
        font-size: 36px;
    }   
    .homepage .pagetitle {
        padding: 30px 0 30px 0;
    }   
    .homepage h2 {
        padding: 30px 0 0 0;
        margin: 0;
        font-size: 24px;
        font-weight: normal;
        color: #666;
    }
    h2 {
        font-size: 24px;
    }
    .homepage p {
        font-size: 16px;
    }
    .video-player iframe {
        max-width: 560px;
        max-height: 315px;
    }    
    .video-player {
        margin: 0;
        margin: auto;
        width: 560px;
        height: 315px;
        float: none;
    }
    .video-display {
        width: 580px;
        margin: auto;
    }
    #page-banner {
        height: 200px;
        background-size: auto;
    }
    #project-logo-header {
        height: 80px;
    }    
    #primary-logo {
        height: 80px;
    }    
    #secondary-logo
    {
        padding: 15px 0 15px 0;
        height: 80px;
    }    
    #invitation {
        height: 250px;
        margin: 20px;
    }
    #invitation #phrase2 {
        bottom: 15px;
        font: normal 24px/120% "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    .footer-logos li {
        padding: 10px 30px;
    }
    .footer-logos img {
        height: 50px;
    }
    .all-width-warning {
        display: none;
    }
    .sm-width-warning {
        display: none;
    }
}

@media (min-width: 992px) {
    #primarynav {
        width: 918px;
    }
    #primarynav-inner {
        height: 110px;
    }
    .section-nav-tab {
        width: 140px;
    }
    .section-item {
        width: 70px;
        height: 94px;
        margin: 0 15px;
    }
    .section-item .section-icon {
        width: 70px;
        height: 70px;
    }
    .section-item .section-title {
        width: 72px;
    }
    .section-icon-home .section-icon { background-position: -115px -15px; }
    .section-icon-intro .section-icon { background-position: -115px -15px; }
    .section-icon-tracks .section-icon { background-position: -115px -15px; }
    .section-icon-focus .section-icon { background-position: -115px -15px; }
    .section-icon-impact .section-icon { background-position: -115px -15px; }
    .section-icon-concerns .section-icon { background-position: -115px -15px; }
    .section-icon-settings .section-icon { background-position: -115px -15px; }
    .section-icon-exemplars .section-icon { background-position: -115px -15px; }
    .section-icon-resources .section-icon { background-position: -115px -15px; }
    .video-display {
        width: 100%;
        margin: auto;
    }
    .video-player iframe {
        max-width: 478px !important;
        max-height: 270px !important;
    }    
    .video-player {
        width: 478px !important;
        height: 270px !important;
        margin: 0;
        float: left;
    }
    .video-info {
        margin-left: 500px;
    }
    .homepage .video-player {
        float: right !important;
        width: 478px !important;
        height: 270px !important;
        margin: 0 0 10px 10px !important;
    }
    .sm iframe  {
        width: 920px;
    }
    .md-width-warning {
        display: none;
    }
}

@media (min-width: 1200px) {
    #project-logo-header {
        height: 100px;
    }    
    #primary-logo {
        height: 100px;
    }    
    #primarynav {
        width: 1143px;
        /* background: url('../img/bg_section_nav_top_d.png') 0px 0px no-repeat; */
    }
    #primarynav-inner {
        height: 130px;
        /* background: #cfddeb url('../img/bg_section_nav_d.png') 0px 0px repeat-y; */
    }
    .section-nav-tab {
        width: 170px;
    }
    .section-nav-tab-inner {
        padding: 0 0 0 8px;
        background-position: 80px -45px;
    }
    .section-nav-tab .active {
        background-position: 80px 15px;
    }
    .section-item {
        width: 90px;
        height: 114px;
        margin: 0 17px;
    }
    .section-item .section-icon {
        width: 90px;
        height: 90px;
    }
    .section-item .section-title {
        width: 92px;
    }
    .section-thumbnail .section-icon {
        width: 160px;
        height: 160px;
        background-position: 5px 5px;
    }
    .section-icon-home .section-icon { background-position: -5px -5px; }
    .section-icon-intro .section-icon { background-position: -5px -5px; }
    .section-icon-tracks .section-icon { background-position: -5px -5px; }
    .section-icon-focus .section-icon { background-position: -5px -5px; }
    .section-icon-impact .section-icon { background-position: -5px -5px; }
    .section-icon-concerns .section-icon { background-position: -5px -5px; }
    .section-icon-settings .section-icon { background-position: -5px -5px; }
    .section-icon-exemplars .section-icon { background-position: -5px -5px; }
    .section-icon-resources .section-icon { background-position: -5px -5px; }
    .ui-tabs-vertical .ui-tabs-panel {
        width: 760px;
    }
    .video-player iframe {
        max-width: 560px !important;
        max-height: 315px !important;
    }    
    .video-player {
        width: 560px !important;
        height: 315px !important;
        margin: 0 !important;
    }
    .homepage .video-player {
        float: right;
        width: 560px !important;
        height: 315px !important;
        margin: 0 0 10px 10px !important;
    }
    .video-info {
        margin-left: 580px;
    }
    .close-section-menu {
        width: 0px;
        height: 0px;
        background-color: transparent;
        opacity: 0;
    }
    .close-section-menu #nav-icon {
        opacity: 0;
    }
    .module-page .sidenav {
        position: static;
        top: 0;
    }
    .module-page .content {
        margin-right: -100%;
        margin-left: 195px;
        background-color: #fff;
    }
    .sidenav {
        width: 195px;
    }
    #section-list {
        display: block !important;
        box-shadow: none !important;
    }
    .sm iframe  {
        width: 925px;
    }
    .md iframe  {
        width: 925px;
    }
}

@media print {
    .print-alert {
        font-weight: bold;
        color: #999 !important;
    }
    #primary-logo
    {
        padding: 0 0 15px 0;
        height: 60px !important;
    }    
    #secondary-logo
    {
        padding: 0 0 15px 0;
        height: 60px !important;
    }    
    .module-name h1 {
        padding-top: 40px !important;
        padding-left: 15px !important;
        height: auto;
        background-color: transparent;
    }
    footer {
        border-top: 1px solid #ccc;
    }
    .footer-logos {
        margin-bottom: 0;
    }
    #headcontainer a[href]:after {
        content: none !important;
    }
}
