<div id="primarynav">
            <div id="primarynav-inner">
                <ul id="section-items">
                    <li class="section-item section-icon-home"><a href="/" class="section-icon img-rounded"></a>
                    <a href="/" class="section-title">home</a></li>
                    
                    <li class='section-item section-icon-intro {{ if eq .Params.module "intro" }}active{{ end }}'>
                    <a href="/page/introduction/" class="section-icon img-rounded"></a>
                    <a href="/page/introduction/" class="section-title">Intro</a></li>
                    
                    <li class='section-item section-icon-tracks {{ if eq .Params.module "tracks" }}active{{ end }}'>
                    <a href="/page/academic-tracks/" class="section-icon img-rounded"></a>
                    <a href="/page/academic-tracks/" class="section-title">Tracks</a></li>
                    
                    <li class='section-item section-icon-focus {{ if eq .Params.module "focus" }}active{{ end }}'>
                    <a href="/page/areas-of-focus/" class="section-icon img-rounded"></a>
                    <a href="/page/areas-of-focus/" class="section-title">Focus</a></li>
                    
                    <li class='section-item section-icon-impact {{ if eq .Params.module "impact" }}active{{ end }}'>
                    <a href="/page/trainee-impact/" class="section-icon img-rounded"></a>
                    <a href="/page/trainee-impact/" class="section-title">Impact</a></li>
                    
                    <li class='section-item section-icon-concerns {{ if eq .Params.module "concerns" }}active{{ end }}'>
                    <a href="/page/common-concerns-about-entering-dental-academics/" class="section-icon img-rounded"></a>
                    <a href="/page/common-concerns-about-entering-dental-academics/" class="section-title">Concerns</a></li>
                    
                    <li class='section-item section-icon-settings {{ if eq .Params.module "settings" }}active{{ end }}'>
                    <a href="/page/new-educational-settings/" class="section-icon img-rounded"></a>
                    <a href="/page/new-educational-settings/" class="section-title">Settings</a></li>
                    
                    <li class='section-item section-icon-exemplars {{ if eq .Params.module "exemplars" }}active{{ end }}'>
                    <a href="/page/exemplars/" class="section-icon img-rounded"></a>
                    <a href="/page/exemplars/" class="section-title">exemplars</a></li>
                    
                    <li class='section-item section-icon-resources {{ if eq .Params.module "resources" }}active{{ end }}'>
                    <a href="/page/resources/" class="section-icon img-rounded"></a>
                    <a href="/page/resources/" class="section-title">resources</a></li>
                    
                    
                </ul>
            </div>
            <div class="section-nav-tab"><div class="section-nav-tab-inner">SECTIONS</div></div>
        </div>